// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    padding-bottom: 9px;
}

body {
    margin: 33px;
    line-height: 9px;
    font-size: 13px;
    color: #333;
}
